{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block body_content %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Who is Flinn?</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/blog/all">Blog</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->          
        </div>
      </div>
      <div class="hero-bar"></div>
    </div>

    <div class="container page">
      
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div id="herounit" class="hero-unit">
        <div id="flinn-face" class="hero-block" style="padding-right: 25px;">
            <img src="/static/img/me.png" class="selfportrait"/>
        </div>        
        <div id="welcome-area" class="hero-block" style="margin-top: -20px; padding-left: 25px;">
            <h1>Matthew Claiborne Flinn</h1>

            <p>Hey! So my name is Matt &mdash; But most people just call me 'Flinn'.<br/><span class="big-thought">(<i>Not to be confused with <a href="http://tron.wikia.com/wiki/Kevin_Flynn" target="new">Flynn</a>, though.</i>)</span></p>

            <br/>

            <p>I am a full-stack software developer at <a href="http://www.fool.com/">The Motley Fool</a>.<br/><span class="big-thought">(<i>C#, ASP.NET MVC, Python, Ruby, JS, SQL, etc...</i>)</span></p>

            <h3 style="color: #FD8520; line-height: 70px; text-shadow: 3px 3px Black;">I am passionate about technology & the Internet.</h3>

            <p><a class="btn btn-primary btn-large bold-btn" href="/about">Interested? Learn More &raquo;</a></p>            
        </div>
      </div>

      <div id="articleRow" class="row" style="margin-left: -20px;">
        {% for blog in featuredBlogs %}
          <div id="articleBox{{ loop.counter }}" class="span3 articleBox">
            <h2>{{ blog.title }}</h2>
            {{ blog.description|safe }}
            <div class="articleMore center"><a class="btn center" href="/blog/{{ blog.id }}">Read More &raquo;</a></div>
          </div>
        {% endfor %}
        <div style="clear:both; font-size:1px; height:1px">&nbsp;</div>
      </div>
      <br/>      
      <footer>
      <p style="float: right;/* Inline styles FTW! */">&copy; 2012 Matt Flinn</p>
      </footer>

      <script type="text/javascript">
      var minBoxHeight;
      var smallToLarge = false;

      $(document).ready(function () {             
        HandleBoxHeights();        
        ResponsiveHeader();
      });

      $(window).resize(function() {
        HandleBoxHeights();
        ResponsiveHeader();
      });

      function ResponsiveHeader() {
        var face = $('#flinn-face');
        var welcome = $('#welcome-area');
        var hero = $('#herounit');
        if (hero.width() < 1000) {
          face.css({ 'width':'100%', 'margin-left':'-20px'});
          welcome.css({ 'width':'100%', 'margin-left':'-30px'});
        }
        else {           
          face.css({ 'width':'', 'margin-left':''});
          welcome.css({ 'width':'', 'margin-left':''});
        }
      }

      function GetMinimumBoxHeight() {
        if (minBoxHeight == null) {
          boxes = $('.articleBox');
          var minHeight = 0;
          boxes.each(function () {         
            var boxHeight = $(this).height();
            if (boxHeight > minHeight)
            {
              minHeight = boxHeight;
            }
          });
          minBoxHeight = minHeight;
          return minHeight;
        }
        else {
          return minBoxHeight;
        }
      }

      function HandleBoxHeights() {
        var hero = $('#herounit');
        var articleRow = $('#articleRow');

        if (hero.width() < 730 && articleRow.width() > 730) {
          AdjustAllBoxHeights(600);          
          $('.articleBox').css('display', '');
          $('.articleBox').css('padding-top', '');
          $('.articleBox').css('padding-bottom', '');
          smallToLarge = true;
        }
        else if (hero.width() < 730 && articleRow.width() < 730)
        {          
          $('.articleBox').css('height', '');
          $('.articleBox').css('display', 'inline-block');
          $('.articleBox').css('margin-top', '5px');
          $('.articleBox').css('margin-bottom', '5px');
          smallToLarge = true;
        }
        else {      
          if (smallToLarge)
          {
            AdjustAllBoxHeights(minBoxHeight);
          }
          NormalBoxAdjustment();
        }
      }

      function NormalBoxAdjustment() {
        var minHeight = GetMinimumBoxHeight();
        AdjustAllBoxHeights(minHeight);
      }


      function AdjustAllBoxHeights(newHeight) {          
          $('.articleBox').css("height", newHeight);
      }
      </script>

    </div><!-- /container -->
{% endblock %}
