<!-- OLD TEMPLATE SHIT -->


<div id="articleBox1" class="span3 articleBox">
  <h2>{{ featuredBlog[0].title }}</h2>
  {{ featuredBlog[0].Description }}           
  <div class="articleMore center"><a class="btn center" href="/blog/{{ featuredBlog[0].id }}">Read More &raquo;</a></div>
</div>
<div id="articleBox2" class="span3 articleBox">
  <h2>{{ featuredBlog[1].title }}</h2>
   {{ featuredBlog[1].Description }}
  <div class="articleMore center"><a class="btn center" href="/blog/{{ featuredBlog[1].id }}">Read More &raquo;</a></div>
</div>

<div id="articleBox3" class="span3 articleBox">
  <h2>{{ featuredBlog[2].title }}</h2>
   {{ featuredBlog[2].Description }}      
  <div class="articleMore center"><a class="btn center" href="/blog/{{ featuredBlog[2].id }}">Read More &raquo;</a></div>
</div>        